[submodule "modules/godotsteam"]
	path = modules/godotsteam
	url = https://github.com/miccal12/GodotSteam.git
[submodule "modules/godotsteam_multiplayer_peer"]
	path = modules/godotsteam_multiplayer_peer
	url = https://github.com/miccal12/MultiplayerPeer.git
