[submodule "modules/GodotSteam"]
	path = modules/GodotSteam
	url = https://github.com/miccal12/GodotSteam.git
[submodule "modules/godotsteam_multiplayer_peer"]
	path = modules/godotsteam_multiplayer_peer
	url = https://github.com/miccal12/MultiplayerPeer.git
